/*=============== welcome ==============*/
div.welcome_img {
	padding:4px;
	background:#eee;
	border:1px solid #e0e0e0;
}
div.welcome_img img {
	display: block;
	width:100%;
}


/*====== tagLine style =======*/
#tagLine {
	margin:60px 0 0 0;
	background:#f9f9f9;
	border-bottom:1px solid #e9e9e9;
	border-left:2px solid #e81962;
}
#tagLine h5 {
	padding:18px 12px;
	font-size:16px;
	margin:0;
}
#tagLine h5 span {
	font-weight:400;
}
#tagLine h5 small {
	font-size:12px;
	font-weight:400;
	text-transform: none;
	color:#777;
}
#tagLine a.red_btn {
	margin:18px 12px;
	display: inline-block;
}
/*===== end it ========*/



/*================ ourTeam ==================*/
div.ourTeam {
	margin:60px 0 0 0;
}

/* li */
div.ourTeam ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
	display: block;
}
div.ourTeam ul li {
	margin-bottom:30px;
	text-align:center;
	border-bottom:1px solid #cecece;
	/* box shadow */
	-moz-box-shadow:inset 0 -1px 0 #fff;
	-webkit-box-shadow:inset 0 -1px 0 #fff;
	-o-box-shadow:inset 0 -1px 0 #fff;
	box-shadow:inset 0 -1px 0 #fff;
	/* transition */
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	width: 220px;
	float: left;
	display: block;
	margin-right: 20px;
}
div.ourTeam ul li:nth-child(2), div.ourTeam ul li:nth-child(4) {
	margin-right: 0;
}
div.ourTeam ul li div.img {
	position:relative;
	border:1px solid #e0e0e0;
	display: block;
	margin:0 0 14px 0;
	overflow: hidden;
	height:207px;
}
div.ourTeam ul li div.img div.offer_icon {
	position:absolute;
	top:0;
	left:0;
	width:86px;
	height:86px;
	display: block;
	z-index:200;
	background:url('../img/offer_icon.png') no-repeat left top;
}
div.ourTeam ul li div.img img {
	border:none;
	width:100%;
	display:block;
}



/*========= ourTeam socials ============*/
div.ourTeam ul li  ul.socials {
	display: inline-block;
	overflow: visible;
	margin:0 auto 12px;
	width:auto;
	text-align: center;
}
div.ourTeam ul li ul.socials li {
	float:left;
	width:27px;
	height:27px;
	margin:0 3px;
	padding:0;
	border:none;
	box-shadow: none;
}
div.ourTeam ul li ul.socials li a {
	float:left;
	margin-left:3px;
	width:27px;
	height:27px;
	display: inline-block;
	background-color:#ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border:1px solid #c4c4c4;
	font:0/0 a;
}
div.ourTeam ul li ul.socials li a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* twitter */
div.ourTeam ul li ul.socials li a.twitter {
	background-image:url('../img/so_twitter.png');
}
div.ourTeam ul li ul.socials li a.twitter:hover {
	background-color: #009fe3;
	border-color:#0591cd;
}
/* facebook */
div.ourTeam ul li ul.socials li a.facebook {
	background-image:url('../img/so_face.png');
}
div.ourTeam ul li ul.socials li a.facebook:hover {
	background-color: #266aa8;
	border-color:#266aa8;
}
/* google plus */
div.ourTeam ul li ul.socials li a.googlep {
	background-image:url('../img/so_google.png');
}
div.ourTeam ul li ul.socials li a.googlep:hover {
	background-color: #e81962;
	border-color:#e81962;
}
/* vimeo */
div.ourTeam ul li ul.socials li a.vimeo {
	background-image:url('../img/so_vimeo.png');
}
div.ourTeam ul.socials li a.vimeo:hover {
	background-color: #af60a2;
	border-color:#af60a2;
}
/* skype */
div.ourTeam ul li ul.socials li a.skype {
	background-image:url('../img/so_skype.png');
}
div.ourTeam ul li ul.socials li a.skype:hover {
	background-color: #00aff0;
	border-color:#00aff0;
}
/* linkedin */
div.ourTeam ul li ul.socials li a.linked {
	background-image:url('../img/so_linked.png');
}
div.ourTeam ul li ul.socials li a.linked:hover {
	background-color: #009640;
	border-color:#009640;
}



/*===============Testimonial (clients say) style================*/
#testimonial {
	margin:60px 0 0 0;
}
#tab_outer ul {
	margin-bottom:14px;
}
#tab_outer ul li {
	display:inline-block;
	margin-right:0px;
	padding-bottom:7px;
}
#tab_outer ul li img {
	width:69px;
}
#tab_outer ul li.currentTestimonial {
	background:url('../img/red_bottom_arrow.png') no-repeat center bottom;
}
#tab_outer ul li:last-child {
	margin:0;
}
#tab_outer ul li a {
	border:3px solid transparent;
	display:block;
}
#tab_outer ul li.currentTestimonial a {
	border:3px solid #e81962;
	cursor:default;
}
#tab_outer ul li a img {
	border:1px solid #ddd;
	margin:0;
	padding:0;
	display:block;
}
#tab_outer div h6 {
	margin:0 0 6px 0;
}
#tab_outer div p {
	margin:0 0 6px 0;
	padding:0;
}
#tab_outer div span a {
	color:#e81962;
	text-decoration: underline;
	font-weight: 600;
}
#tab_outer div span a:hover {
	text-decoration: none;
}


/*============= brands =============*/
div.brands {
	margin:60px 0 0 0;
}

div.brands ul {
	overflow: hidden;
	width: 100%;
	display: block;
}
div.brands ul li {
	text-align:center;
	width: 170px;
	float: left;
	display: block;
	margin-right: 20px;
	background:#fff;
	display: block;
	height:109px;
	border:1px solid #e0e0e0;
	/*vertical-align: middle;*/
}
div.brands ul li a {
	display: block;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
div.brands ul li a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	div.ourTeam ul li {
		width:172px;
	}
	div.ourTeam ul li div.img {
		display: block  !important;
		height:159px !important;
	}

	#tab_outer ul li img {
		width:52px;
	}

	/* brands */
	div.brands ul li {
		width:132px;
		height:90px;
		display: block;
	}
	div.brands ul li a {
		display: block;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	div.welcome_img {
		margin-bottom: 30px;
	}


	div.ourTeam ul li {
		width:200px;
	}
	div.ourTeam ul li div.img {
		display: block  !important;
		height:159px !important;
	}


	div.brands ul li {
		width:124px;
		height:90px;
		display: block;
	}
	div.brands ul li a {
		display: block;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	div.welcome_img {
		margin-bottom: 30px;
	}


	div.ourTeam ul li {
		width:300px;
	}
	div.ourTeam ul li div.img {
		display: block  !important;
		height:259px !important;
	}

	#tab_outer ul li img {
		width:47px;
	}


	div.brands ul li {
		width:138px;
		height:100px;
		display: block;
	}
	div.brands ul li a {
		display: block;
	}
}