
/* One container to bind them... */
.dk_container {
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  border:1px solid #ddd;
  z-index:103;
  width:auto;
  margin:0;
  padding:0;

}
  .dk_container:focus {
    outline: none;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }
  .dk_container a:hover {
    color:#000;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  background-image: url('../img/arrow_down.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  color: #333;
  padding: 10px 6px;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s;
  /* inner shadow */
  -webkit-box-shadow: inset 0 2px 0 #f0f0f0;
  box-shadow: inset 0 2px 0 #f0f0f0;
  z-index:103;
}



/* The outer container of the options */
.dk_options {
  z-index:10000000;
  display: block;
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #ff1e1c;
    padding: 7px 10px;
    display: block;
    z-index:1000;

  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: #f4f4f4;
    color: #444;
    text-decoration: none;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid #ff1e1c;
  border-bottom-width: 2px;
  border-bottom-color: #ff1e1c;
  color: #333;
  display: block;
  max-height: 450px;
  /*z-index:1000;*/
  z-index:100000;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 450px;
  z-index:150;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
  z-index:100;

}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  z-index:100;
}

.dk_open {
  position: relative;
  z-index: 105;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index:150;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
    z-index:150;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
    z-index:150;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}
/*
.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}
*/


/***** End Critical to the continued enjoyment of working dropdowns ******/
