table.cart_table {
	width:100%;
	background:#fff;
	margin:0;
	padding:0;
	border-collapse: collapse;
}
table.cart_table thead tr th,
table.cart_table tbody tr td {
	padding:12px;
	border:1px dotted #aaa;
	text-align:center;
	vertical-align: middle;
	margin:0;
}
table.cart_table tbody tr:hover {
	background-color:#f9f9f9;
}

table.cart_table thead tr th.first_td,
table.cart_table tbody tr td.first_td {
	text-align:left;
}

/* th */
table.cart_table thead tr th h4 {
	font-weight:600;
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
	text-transform: uppercase;
}

/*========= dt.first_td ==========*/
table.cart_table tbody tr td.first_td div img {
	border:1px solid #dedede;
	float:left;
	margin:0 5px;
	/* box shadow */
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-o-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}
table.cart_table tbody tr td.first_td div span {
	line-height:20px;
	margin:0;
	padding:0;
	float:left;
}
table.cart_table tbody tr td.first_td div span strong {
	font-size: 14px;
}
/* ul stars */
table.cart_table tbody tr td.first_td div span ul li {
	display: inline-block;
	margin:0;
	padding:0;
}
table.cart_table tbody tr td.first_td div span ul li a {
	display: inline-block;
	width:12px;
	height:11px;
	margin:0px;
	text-indent: -999999px;
	padding:0;
	background:url('../img/small_start.png') no-repeat left top;
}
table.cart_table tbody tr td.first_td div span ul li a:hover {
	background-position: left bottom;
}

/*====== total_price ========*/
table.cart_table tbody tr td.total_price h5 {
	font-size:20px;
	font-weight: 600;
	color:#e81962;
	line-height:20px;
}
table.cart_table tbody tr td.total_price h5 span {
	color:#999;
	font-size:12px;
}
/*===== end it ======*/


/*============== td Quantity =========*/
table.cart_table tbody tr td.quantity form {
	width:100%;
	margin:0 auto 5px;
}
table.cart_table tbody tr td.quantity form label {
	padding:1px;
	background:#f5f5f5;
	margin:0 0;
}
table.cart_table tbody tr td.quantity form label input[type=text]{
	padding:0 3px;
	height:28px;
	line-height:28px;
	font-size:12px;
	margin:0;
	color:#444;
	font-weight:600;
	text-align: center;
	/*display: inline-block;*/
	background:#fff;
	border:1px solid #ddd;
	/* inner shadow */
	-webkit-box-shadow: inset 0 1px 0 #f0f0f0;
	box-shadow: inset 0 1px 0 #f0f0f0; 
}
table.cart_table tbody tr td.quantity form label input.gray_btn {
	padding: 0 12px;
	height:30px;
	margin:0;
	line-height:30px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
/* span */
table.cart_table tbody tr td.quantity span {
	font-size: 12px;
}
/*======== end it =======*/


/*============= td delete item ============*/
table.cart_table tbody tr td a.delete_item {
	text-indent: -999999px;
	/*font:0/0 a;*/
	width:34px;
	height:34px;
	display: block;
	margin:0 auto;
	background:url('../img/delete_icon.png') no-repeat 50% 50%;
}
table.cart_table tbody tr td a.delete_item:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
/*======= end it ==========*/


/*======================= cart_tabs ===============*/
div.cart_tabs {
	margin:60px 0 0 0;
	background:#fff;
	border:1px solid #e0e0e0;
}
/* nav */
div.cart_tabs ul.cart_tabs_nav {
	width:28%;
	float:left;
	display: block;
}
div.cart_tabs ul.cart_tabs_nav li {
	position: relative;
}
div.cart_tabs ul.cart_tabs_nav li a {
	font-size:13px;
	font-weight:600;
	text-transform: uppercase;
	padding:18px 16px;
	display: block;
	border-bottom:1px solid #e4e4e4;
	line-height: 16px;
	background-color:#f5f5f5;
}
div.cart_tabs ul.cart_tabs_nav li a:hover {
	background-color: #f1f1f1;
	color:#333;
}
div.cart_tabs ul.cart_tabs_nav li a.active_tab {
	background-color: #4b4b4b;
	color:#fff;
	cursor: default;
}
div.cart_tabs ul.cart_tabs_nav li a.active_tab:after {
	content:'';
	width:6px;
	margin-top:-5px;
	height:11px;
	position: absolute;
	top:50%;
	left:100%;
	display: block;
	background: url('../img/gray_right_arrow.png') no-repeat left top;
}

/* cart_tabs_content */
div.cart_tabs div.cart_tabs_content {
	float:left;
	width:65%;
	padding:22px 18px;
	background:#fff;
	border-left:1px solid #e0e0e0;
}
div.cart_tabs div.cart_tabs_content p {
	text-transform: uppercase;
	font-size: 12px;
	color:#444;
	font-weight:600;
	padding-bottom:12px;
	margin-bottom:24px;
	border-bottom:1px solid #eee;
}
div.cart_tabs div.cart_tabs_content form label {
	width:100%;
	margin-bottom:10px;
	display: block;
}
div.cart_tabs div.cart_tabs_content form strong {
	float: left;
	width:30%;
	display: block;
	padding:6px 0;
	margin-right:6px;
	font-size: 12px;
	font-weight: 400;
	color:#666;
	text-transform: uppercase;
}
div.cart_tabs div.cart_tabs_content form label input {
	float:left;
	width:45%;
	padding:0 10px;
	height:35px;
	line-height:34px;
	font-size:12px;
	margin:0;
	display: inline-block;
	background:#fff;
	border:1px solid #ddd;
	/* inner shadow */
	-webkit-box-shadow: inset 0 1px 0 #f0f0f0;
	box-shadow: inset 0 1px 0 #f0f0f0; 
}
div.cart_tabs div.cart_tabs_content form div.submit {
	margin-top:24px;
	width:78%;
	text-align:right;
}

/*========= end it ============*/


/*============= receipt =============*/
table.receipt {
	margin:60px 0 0 0;
	width:100%;
	border-collapse: collapse;
}
table.receipt tr {
	border-top: 1px solid #ccc;
}
table.receipt tr td {
	border-right: 1px solid #ccc;
	text-align:center;
	padding:8px 12px;
}
table.receipt tr td:last-child {
	border:none !important;
}
table.receipt thead tr th {
	font-weight:600;
}
table.receipt tfoot {
	border-bottom:1px solid #e0e0e0;
	background-color:#eee; 
}
table.receipt tfoot tr td {
	padding-top:18px;
	padding-bottom:18px;
}




/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	table.cart_table thead tr th, table.cart_table tbody tr td {
		padding:10px 6px;
	}

	div.cart_tabs ul.cart_tabs_nav li a {
		font-size: 12px;
		padding:10px 5px;
	}
	div.cart_tabs div.cart_tabs_content {
		width:62%;
	}
	div.cart_tabs div.cart_tabs_content form strong {
		width:auto;
		float:none;
	}
	div.cart_tabs div.cart_tabs_content form div.submit {
		text-align: left;
	}
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	table.cart_table thead {
		display: none;
	}
	table.cart_table thead tr {
		margin-bottom:12px;
		display: block;
	}
	table.cart_table thead tr th, table.cart_table tbody tr td {
		padding:12px 0;
		display: block;
		width:100%;
		float:none;
		clear:both;
	}
	table.cart_table tbody tr td.first_td {
		width:100%;
		display: block;
		float:none;
	}
	table.cart_table tbody tr td.first_td:before {
		content:"Product Name";
		display: block;
		padding:12px 0;
		margin:0 0 12px 0;
		border:none;
		text-align:center;
		background:#444;
		color:#fff;
		text-transform: uppercase;
		font-size: 14px;
	}
	table.cart_table tbody tr td.first_td div {
		width: 100%;
		display: block;
		float:none;
		clear:both;
		text-align: center;
	}



	div.cart_tabs ul.cart_tabs_nav {
		float:none;
		display: block;
		width:auto;
	}
	div.cart_tabs ul.cart_tabs_nav li a {
		font-size: 12px;
		padding:12px;
	}
	div.cart_tabs ul.cart_tabs_nav li a.active_tab {
		background: #e81962;
	}
	div.cart_tabs ul.cart_tabs_nav li a.active_tab:after {
		content:'';
		width:13px;
		margin-left:-6px;
		height:7px;
		position: absolute;
		top:105%;
		left:50%;
		display: block;
		z-index:100;
		background: url('../img/red_bottom_arrow.png') no-repeat left top;
	}
	div.cart_tabs div.cart_tabs_content {
		width:90%;
		display: block;
	}
	div.cart_tabs div.cart_tabs_content form strong {
		width:auto;
		float:none;
	}
	div.cart_tabs div.cart_tabs_content form div.submit {
		text-align: left;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	table.cart_table thead {
		display: none;
	}
	table.cart_table thead tr {
		margin-bottom:12px;
		display: block;
	}
	table.cart_table thead tr th, table.cart_table tbody tr td {
		padding:12px 0;
		display: block;
		width:100%;
		float:none;
		clear:both;
	}
	table.cart_table tbody tr td.first_td {
		width:100%;
		display: block;
		float:none;
	}
	table.cart_table tbody tr td.first_td:before {
		content:"Product Name";
		display: block;
		padding:12px 0;
		margin:0 0 12px 0;
		border:none;
		text-align:center;
		background:#444;
		color:#fff;
		text-transform: uppercase;
		font-size: 14px;
	}
	table.cart_table tbody tr td.first_td div {
		width: 100%;
		display: block;
		float:none;
		clear:both;
		margin:0 auto;
		text-align: center;
	}
	table.cart_table tbody tr td.first_td div img {
		display: block;
		margin:0 auto 12px;
		float:none;
	}
	table.cart_table tbody tr td.first_td div span {
		display: block;
		margin:0 auto;
		float:none;
	}


	div.cart_tabs ul.cart_tabs_nav {
		float:none;
		display: block;
		width:auto;
	}
	div.cart_tabs ul.cart_tabs_nav li a {
		font-size: 12px;
		padding:12px;
	}
	div.cart_tabs ul.cart_tabs_nav li a.active_tab {
		background: #e81962;
	}
	div.cart_tabs ul.cart_tabs_nav li a.active_tab:after {
		content:'';
		width:13px;
		margin-left:-6px;
		height:7px;
		position: absolute;
		top:105%;
		left:50%;
		display: block;
		z-index:100;
		background: url('../img/red_bottom_arrow.png') no-repeat left top;
	}
	div.cart_tabs div.cart_tabs_content {
		width:86%;
		display: block;
	}
	div.cart_tabs div.cart_tabs_content form strong {
		width:auto;
		float:none;
	}
	div.cart_tabs div.cart_tabs_content form div.submit {
		text-align: left;
	}
}